
*.csv
*.png
*.pyc
old/
old_experiments/
output/
data/
Simplest_example/
__pycache__/
structure.txt
experiments/
data/
LLama3.2-1B-Instruct/
data_loader.ipynb
metadata_preprocess.ipynb
midi_preprocess.ipynb
models.ipynb
preprocessing.ipynb
Remi_MIdi.ipynb
huggingface_token.txt
